.btn
  padding: 0.75em 1.5em;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  &:link, &:visited
    text-decoration: none;

.btn-primary
  @extend .btn;
  border: 2px solid white;
  color: white;

.btn-standout
  @extend .btn;
  @extend .gradient;
  @extend .br-gradient;
  color: white;
