.btn
  padding: 1em 2em;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 1em;
  &:link, &:visited
    text-decoration: none;
  @media screen and (max-width: $bp-s)
    font-size: 0.9em;
    padding: 0.9em 1.2em;

.btn-primary
  @extend .btn;
  -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
  -moz-box-shadow:inset 0px 0px 0px 2px #fff;
  box-shadow:inset 0px 0px 0px 2px #fff;
  color: white;
  transition: all .2s;
  &:hover
    background: #fff;
    color: #111;

.btn-standout
  @extend .btn;
  @extend .gradient;
  color: white;
  opacity: 0.8;
  transition: all .2s;
  &:hover
    opacity: 1;
