$xs = 0.25em
$sm = 0.5em
$md = 1em
$lg = 2em
$xl = 4em

$f-xxs = 0.5em
$f-xs = 0.707em
$f-sm = 1em
$f-md = 1.414em
$f-lg = 1.999em
$f-xl = 3.298em
$f-xxl = 3.998em

$bp-s = 30em
$bp-l = 60em

// @custom-media --breakpoint-not-small screen and (min-width: 30em);
// @custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
// @custom-media --breakpoint-large screen and (min-width: 60em);

// $c-w = #fff
// $c-l = #FFE9DA
// $c-d = #241A8F
// $c-s = #122EF8
