$xs = 0.25em
$sm = 0.5em
$md = 1em
$lg = 2em
$xl = 4em

$f-xxs = 0.5em
$f-xs = 0.707em
$f-sm = 1em
$f-md = 1.414em
$f-lg = 1.999em
$f-xl = 3.998em

$bp-sm = 375px
$bp-md = 480px
$bp-lg = 750px
$bp-xl = 940px

// $c-w = #fff
// $c-l = #FFE9DA
// $c-d = #241A8F
// $c-s = #122EF8
