@import '_var';

@import 'base/*';
@import 'components/*';

.marquee
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 32px /* .pl4 */
  overlfow-x: none;

.marquee img
  flex-shrink: 0;
