.gradient
    background-image:
    linear-gradient(
      to top right,
      #FF3F2C, #FF3AB5
    );

.ur-blue-black
  color: #101920;

.ur-bg-blue-black
  background: #101920;

.ur-near-white
  color: #FFFFFE;

.ur-bg-near-white
  background: #FFFFFE;

.ur-bg-light-gray
  background: #F2F0F0;

.ur-light-gray
  color: #F2F0F0;
