@font-face
    font-family: 'Moderat';
    src: url('https://s3-eu-west-1.amazonaws.com/releaseplatform-images/userelease/fonts/Moderat-Bold.eot') format('woff2'),
         url('https://s3-eu-west-1.amazonaws.com/releaseplatform-images/userelease/fonts/Moderat-Bold.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/releaseplatform-images/userelease/fonts/Moderat-Bold.eot') format('embedded-opentype');
    font-weight: 800;
    font-style: normal;

@font-face
    font-family: 'Moderat';
    src: url('https://s3-eu-west-1.amazonaws.com/releaseplatform-images/userelease/fonts/Moderat-Regular.woff2') format('woff2'),
         url('https://s3-eu-west-1.amazonaws.com/releaseplatform-images/userelease/fonts/Moderat-Regular.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/releaseplatform-images/userelease/fonts/Moderat-Regular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
