.ur-ts6
  font-size: $f-xxs;

.ur-ts5
  font-size: $f-xs;

.ur-ts4
  font-size: $f-sm;

.ur-ts3
  font-size: $f-md;

.ur-ts2
  font-size: $f-lg;

.ur-ts1
  font-size: $f-xl;

@media screen and (max-width: $bp-s)
  .ur-ts6-s
    font-size: $f-xxs;

  .ur-ts5-s
    font-size: $f-xs;

  .ur-ts4-s
    font-size: $f-sm;

  .ur-ts3-s
    font-size: $f-md;

  .ur-ts2-s
    font-size: $f-lg;

  .ur-ts1-s
    font-size: $f-xl;

@media screen and (min-width: $bp-s)
  .ur-ts6-ns
    font-size: $f-xxs;

  .ur-ts5-ns
    font-size: $f-xs;

  .ur-ts4-ns
    font-size: $f-sm;

  .ur-ts3-ns
    font-size: $f-md;

  .ur-ts2-ns
    font-size: $f-lg;

  .ur-ts1-ns
    font-size: $f-xl;

@media screen and (min-width: $bp-s) and (max-width: $bp-l)
  .ur-ts6-m
    font-size: $f-xxs;

  .ur-ts5-m
    font-size: $f-xs;

  .ur-ts4-m
    font-size: $f-sm;

  .ur-ts3-m
    font-size: $f-md;

  .ur-ts2-m
    font-size: $f-lg;

  .ur-ts1-m
    font-size: $f-xl;


@media screen and (min-width: $bp-l)
  .ur-ts6-l
    font-size: $f-xxs;

  .ur-ts5-l
    font-size: $f-xs;

  .ur-ts4-l
    font-size: $f-sm;

  .ur-ts3-l
    font-size: $f-md;

  .ur-ts2-l
    font-size: $f-lg;

  .ur-ts1-l
    font-size: $f-xl;
