@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body
  -webkit-font-smoothing: antialiased;

.moderat
  font-family: 'Moderat', sans-serif;
  font-variant-ligatures: none;

.work-sans
  font-family: 'Moderat', sans-serif;
